**Todays Training Session **

> Agenda For This session is
                                                                                               
                  * Decision tree                                                   
                  * Time series

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("decisiontree.csv")
df.head()

In [ ]:
inputs = df.drop('salary_more_then_100k',axis='columns')
target = df['salary_more_then_100k']
target

0     0.0
1     0.0
2     1.0
3     1.0
4     0.0
5     1.0
6     0.0
7     0.0
8     0.0
9     1.0
10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    NaN
Name: salary_more_then_100k, dtype: float64

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [ ]:
inputs['company_n'] = le_company.fit_transform(inputs['Company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])

In [ ]:
inputs.head()

  Company                  job     degree  company_n  job_n  degree_n
0  Google      sales executive  bachelors          0      2         0
1  Google      sales executive    masters          0      2         1
2  Google     business manager  bachelors          0      0         0
3  Google     business manager    masters          0      0         1
4  Google  computer programmer  bachelors          0      1         0

In [ ]:
inputs_n = inputs.drop(['Company','job','degree'],axis='columns')
inputs_n

    company_n  job_n  degree_n
0           0      2         0
1           0      2         1
2           0      0         0
3           0      0         1
4           0      1         0
5           0      1         1
6           1      2         1
7           1      1         0
8           1      0         0
9           1      0         1
10          2      2         0
11          2      2         1
12          2      0         0
13          2      0         1
14          2      1         0
15          2      1         1
16          3      3         2

In [ ]:
from sklearn import tree

In [ ]:
model = tree.DecisionTreeClassifier()

In [ ]:
model.fit(inputs_n,target)

In [ ]:
model.score(inputs_n,target)